<div class="container shadow-lg my-3">
  <div class="row">
    <div class="col-sm-12 border bo rounded">
      <div class="border bo rounded mx-4 my-4">
        <form #orderForm="ngForm" (ngSubmit)="orderSubmit()" autocomplete="off">
          <div>
            <h3>Add New Order :</h3>
            <hr />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="jtype"><b>Type : </b></label>
              <input
                type="text"
                class="form-control"
                id="jtype"
                placeholder="Jewellery Type"
                name="jtype"
                #jtype="ngModel"
                [(ngModel)]="oData.jtype"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="jtype.invalid && jtype.touched"
              >
                Jtype must be required !
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="price"><b>Price : </b></label>
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="Enter Price"
                name="price"
                min="0"
                #price="ngModel"
                [(ngModel)]="oData.price"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="price.invalid && price.touched"
              >
                Price must be required !
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="quantity"><b>Quantity : </b></label>
              <input
                type="number"
                class="form-control"
                id="quantity"
                placeholder="Enter Quantity"
                name="quantity"
                min="0"
                #quantity="ngModel"
                [(ngModel)]="oData.quantity"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="quantity.invalid && quantity.touched"
              >
                Quantity must be required !
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="weight"><b>Weight : </b></label>
              <input
                type="text"
                class="form-control"
                id="weight"
                placeholder=".00gm 0.0kg etc"
                name="weight"
                #weight="ngModel"
                [(ngModel)]="oData.weight"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="weight.invalid && weight.touched"
              >
                Weight is not valid !
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cname"><b>Customer Name : </b></label>
              <input
                type="text"
                class="form-control"
                id="cname"
                placeholder="Enter Customer Name"
                name="cname"
                #cname="ngModel"
                [(ngModel)]="oData.cname"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="cname.invalid && cname.touched"
              >
                Customer name must be required !
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="mobile"><b>Customer Mobile : </b></label>
              <input
                type="number"
                class="form-control"
                id="mobile"
                placeholder="Enter mobile number"
                name="cmobile"
                pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
                #cmobile="ngModel"
                [(ngModel)]="oData.cmobile"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="cmobile.invalid && cmobile.touched"
              >
                Customer mobile number is not valid !
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="caddress"><b>Customer Address : </b></label>
            <input
              type="text"
              class="form-control"
              id="caddress"
              placeholder="123,street,area name,pincode"
              name="caddress"
              #caddress="ngModel"
              [(ngModel)]="oData.caddress"
              required
            />
            <div
              class="alert alert-warning my-2 text-danger"
              *ngIf="caddress.invalid && caddress.touched"
            >
              Customer address number is not valid !
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city"><b>City : </b></label>
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="Enter City"
                name="city"
                #city="ngModel"
                [(ngModel)]="oData.city"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="city.invalid && city.touched"
              >
                City is not valid !
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="status"><b>Select Order Status : </b></label>
              <select
                id="status"
                name="status"
                [(ngModel)]="oData.status"
                required
                #status="ngModel"
                class="form-control"
              >
                <option value="pending">Pending</option>
                <option value="confirmed">Confirmed</option>
                <option value="delivered">Delivered</option>
              </select>
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="status.invalid && status.touched"
              >
                Status must be valid !
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button
              type="submit"
              [disabled]="orderForm.invalid"
              class="btn btn-success col-sm-3 mx-2"
            >
              Add
            </button>
            <button type="reset" class="btn btn-danger col-sm-3 mx-2">
              Cancle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
