.card-body button i {
  font-size: 25px;
  cursor: pointer;
}

.card-body button {
  border: 0px;
}

hr {
  color: #198754;
  border: 0;
  border-top: 3px solid;
  opacity: 0.5;
  width: 80vw;
  margin: auto;
  margin-top: 14px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box i {
  font-size: 20px;
  padding: 0px 9px;
  /* position: absolute;
  right: 25px; */
  opacity: 0.5;
  color: black;
}

.upload-file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-file input {
  background-color: #198752;
  color: #fff;
}

.upload-file i {
  font-size: 25px;
  padding: 0px 9px;
  cursor: pointer;
}

.set-front {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .set-front {
    flex-direction: column;
  }
}
