<div class="container rounded text-center mt-3 shadow-lg">
  <div class="row">
    <div class="col-sm-12 set-front">
      <div class="col-sm-8 float-left mt-2 search-box">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Customer Name"
          [(ngModel)]="searchText"
          (keyup)="search()"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="float-right">
        <button class="btn btn-outline-success mt-2" (click)="exportToExcel()">
          Export to excel file
        </button>
      </div>
    </div>
    <hr />
    <div class="col-sm-12">
      <div class="mt-3 mb-2">
        <label for="importExcel"
          ><b class="text-danger">Upload Excel File : </b></label
        >
        <div class="upload-file">
          <input
            type="file"
            name="importExcel"
            id="importExcel"
            #fileValue
            (change)="importExcel($event)"
          />
          <i class="fa-solid fa-upload" (click)="uploadExcel()"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <table
        class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl my-2 table-hover"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Price</th>
            <th>Net Weight</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Order Status</th>
            <th>Payment Status</th>
            <th>Customer Name</th>
            <th>Edit Order</th>
            <th>Delete Order</th>
            <th>Click To Pay</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of orderData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.jtype }}</td>
            <td>{{ data.price | currency : "INR" }}</td>
            <td>{{ data.weight }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.price * data.quantity | currency : "INR" }}</td>
            <td>
              <span *ngIf="data.status == 'pending'" class="text-warning">
                {{ data.status }}
              </span>
              <span *ngIf="data.status == 'confirmed'" class="text-success">
                {{ data.status }}
              </span>
              <span *ngIf="data.status == 'delivered'" class="text-primary">
                {{ data.status }}
              </span>
            </td>
            <td>
              <span *ngIf="data.payment == 'paid'" class="text-muted">
                {{ data.payment }}
              </span>
              <span *ngIf="data.payment == 'unpaid'" class="text-danger">
                {{ data.payment }}
              </span>
            </td>
            <td>
              {{ data.cname }}
            </td>
            <td>
              <button class="btn">
                <i
                  class="fa-solid fa-pen-to-square text-primary"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                  (click)="edit(data, i)"
                ></i>
              </button>
            </td>
            <td>
              <button class="btn">
                <i
                  class="fa-solid fa-trash text-danger"
                  (click)="delete(data, data.id)"
                ></i>
              </button>
            </td>
            <td>
              <button class="btn" [disabled]="data.payment == 'paid'">
                <i
                  class="fa-solid fa-money-check-dollar"
                  style="color: #3e9c35; font-size: 28px"
                  routerLink="/payment-order-view/{{ data.id }}"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>

<div class="container mt-2">
  <div class="row">
    <div
      class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"
      *ngFor="let data of orderData; let i = index"
    >
      <div class="card shadow-lg mt-2">
        <div class="card-body">
          <h6 class="card-title">Customer : {{ data.cname }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">
            Contact : {{ data.cmobile }}
          </h6>
          <p class="card-text">
            Jtype : <span class="text-muted">{{ data.jtype }}</span>
          </p>
          <p class="card-text">
            Price :
            <span class="text-muted">{{ data.price | currency : "INR" }}</span>
          </p>
          <p class="card-text">
            Weight : <span class="text-muted">{{ data.weight }}</span>
          </p>
          <p class="card-text">
            Quantity : <span class="text-muted">{{ data.quantity }}</span>
          </p>
          <p class="card-text">
            Total :
            <span class="text-muted">{{
              data.price * data.quantity | currency : "INR"
            }}</span>
          </p>
          <p class="card-text">
            <span>Order Status : </span>
            <span *ngIf="data.status == 'pending'" class="text-warning">
              {{ data.status }}
            </span>
            <span *ngIf="data.status == 'confirmed'" class="text-success">
              {{ data.status }}
            </span>
            <span *ngIf="data.status == 'delivered'" class="text-primary">
              {{ data.status }}
            </span>
          </p>
          <p class="card-text">
            <span>Payment Status : </span>
            <span *ngIf="data.payment == 'paid'" class="text-muted">
              {{ data.payment }}
            </span>
            <span *ngIf="data.payment == 'unpaid'" class="text-danger">
              {{ data.payment }}
            </span>
          </p>
          <button class="btn">
            <i
              class="fa-solid fa-pen-to-square text-primary"
              data-toggle="modal"
              data-target="#exampleModalLong"
              (click)="edit(data, i)"
            ></i>
          </button>
          <button class="btn">
            <i
              class="fa-solid fa-trash text-danger"
              (click)="delete(data, data.id)"
            ></i>
          </button>
          <button class="btn" [disabled]="data.payment == 'paid'">
            <i
              class="fa-solid fa-money-check-dollar"
              style="color: #3e9c35; font-size: 28px"
              routerLink="/payment-order-view/{{ data.id }}"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4
        class="text-danger text-center mt-3"
        *ngIf="orderData == null || orderData == ''"
      >
        No Order Found! Click on "add order" to add a new order!
      </h4>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalLong"
>
  Launch demo modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Order :</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" [formGroup]="singleOrder">
          <div>
            <hr />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="jtype"><b>Type : </b></label>
              <input
                type="text"
                class="form-control"
                id="jtype"
                placeholder="Jewellery Type"
                formControlName="jtype"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="price"><b>Price : </b></label>
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="Enter Price"
                formControlName="price"
                min="0"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="quantity"><b>Quantity : </b></label>
              <input
                type="number"
                class="form-control"
                id="quantity"
                placeholder="Enter Quantity"
                formControlName="quantity"
                min="0"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="weight"><b>Weight : </b></label>
              <input
                type="text"
                class="form-control"
                id="weight"
                placeholder=".00gm 0.0kg etc"
                formControlName="weight"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cname"><b>Customer Name : </b></label>
              <input
                type="text"
                class="form-control"
                id="cname"
                placeholder="Enter Customer Name"
                formControlName="cname"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="mobile"><b>Customer Mobile : </b></label>
              <input
                type="number"
                class="form-control"
                id="mobile"
                placeholder="Enter mobile number"
                formControlName="cmobile"
                pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="caddress"><b>Customer Address : </b></label>
            <input
              type="text"
              class="form-control"
              id="caddress"
              placeholder="123,street,area name,pincode"
              formControlName="caddress"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city"><b>City : </b></label>
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="Enter City"
                formControlName="city"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="status"><b>Select Order Status : </b></label>
              <select id="status" formControlName="status" class="form-control">
                <option value="pending">Pending</option>
                <option value="confirmed">Confirmed</option>
                <option value="delivered">Delivered</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="payment"><b>Select Order Payment : </b></label>
            <select id="payment" formControlName="payment" class="form-control">
              <option value="paid">Paid</option>
              <option value="unpaid">Unpaid</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="update()"
          data-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  type="square-jelly-box"
  bdColor="rgb(230, 230, 218)"
  size="medium"
  color="rgb(25, 135, 82)"
>
  <p class="mt-4 text-success">Loading...</p>
</ngx-spinner>
