<div class="container text-center my-3 shadow-lg">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive-sm my-2 table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Price</th>
            <th>Net Weight</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Necklace</td>
            <td>45600</td>
            <td>.40gm</td>
            <td>1</td>
            <td>45600</td>
            <td>
              <button class="btn btn-outline-warning text-dark">pending</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
