td i {
  font-size: 24px;
  cursor: pointer;
}

hr {
  margin: 1rem 0;
  color: #198754;
  border: 0;
  border-top: 3px solid;
  opacity: 0.5;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box i {
  font-size: 20px;
  padding: 0px 9px;
  /* left: 30px; */
  position: absolute;
  right: 25px;
}
