<div class="container text-center my-3 shadow-lg">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive-sm my-2 table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Price</th>
            <th>Net Weight</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of orderData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.jtype }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.weight }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.price * data.quantity }}</td>
            <td>
              <button
                *ngIf="data.status == 'pending'"
                class="btn btn-outline-warning"
              >
                {{ data.status }}
              </button>
              <button
                *ngIf="data.status == 'confirmed'"
                class="btn btn-outline-success"
              >
                {{ data.status }}
              </button>
              <button
                *ngIf="data.status == 'delivered'"
                class="btn btn-outline-primary"
              >
                {{ data.status }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
