<div class="container">
  <div class="row my-4">
    <div class="col-sm-12">
      <div>
        <div class="contain">
          <div>
            <h2>Register :</h2>
          </div>
        </div>
        <div class="contain-form">
          <form
            style="max-width: 650px"
            #registerData="ngForm"
            (ngSubmit)="registerSubmit()"
            autocomplete="off"
          >
            <hr />
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
                name="email"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                [(ngModel)]="register.email"
                #email="ngModel"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="email.invalid && email.touched"
              >
                Email not valid!
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Enter password"
                name="passwd"
                pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                [(ngModel)]="register.passwd"
                #passwd="ngModel"
                required
              />
              <div
                class="alert alert-warning my-2 text-danger"
                *ngIf="passwd.invalid && passwd.touched"
              >
                Password must be six characters including one uppercase letter,
                one special character and alphanumeric characters.
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Confirm password"
                name="confirmpasswd"
                [(ngModel)]="register.passwd"
                readonly
                required
                value="{{ register.passwd }}"
              />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="registerData.invalid"
              >
                Register
              </button>
              <button type="reset" class="btn btn-danger ml-2">Cancle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  type="square-jelly-box"
  bdColor="rgb(230, 230, 218)"
  size="medium"
  color="rgb(25, 135, 82)"
>
  <p class="mt-4 text-success">Loading...</p>
</ngx-spinner>
