<div class="container">
  <div class="row my-4">
    <div class="col-sm-12">
      <div>
        <div class="contain">
          <div>
            <h2>Register :</h2>
          </div>
        </div>
        <div class="contain-form">
          <form style="max-width: 650px">
            <hr />
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Enter password"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm password"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Register</button>
              <button type="reset" class="btn btn-danger ml-2">Cancle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
