/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "~ngx-spinner/animations/square-jelly-box.css";

* {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 19vh;
}

hr {
  margin: 1rem 0;
  color: #198754;
  border: 0;
  border-top: 3px solid;
  opacity: 0.5;
}

span small a {
  cursor: pointer;
  padding: 5px 0px;
}
